.container {
    margin: auto;
    max-width: 600px;
    padding: 30px 50px;
    text-align: center;
  }
  
  .date-wrapper {
    margin: 30px 0;
    font-size: 1.5rem;
    color: #333;
  }
  
  .date-wrapper .month,
  .date-wrapper .day {
    font-size: 1.5rem;
  }
  
  .date-wrapper .date-btn {
    padding: 15px 25px;
    margin: 0 20px;
    font-size: 1.5rem;
    border: none;
    background: none;
  }
  
  #question {
    font-size: 1.3rem;
    margin: 20px 0;
    color: #333;
  }
  
  #answer-input {
    width: 100%;
    margin: 10px 0;
    min-height: 300px;
    border-radius: 5px;
    border: 1px solid #666;
  }
  
  #save-btn {
    border: 1px solid #666;
    padding: 10px 15px;
    border-radius: 5px;
    background: none;
    color: #333;
  }